<div style="padding-left: 20rem ;padding-right: 20rem;">
  <div class="card text-center" style="width: 100%;color: black;">
    <div class="card-body">
      <h5 class="card-title">{{item.attractionName}}</h5>
      <!-- <div *ngFor="let image of item.imageBase64">
        <div class="picsum-img-wrapper">
          <img class="rounded card-img-topd" style="align-self: center" width="300px" [src]="image"
            alt="Random first slide">
        </div>
      </div> -->
      <ngb-carousel *ngIf="item.imageBase64" >
        <ng-template ngbSlide *ngFor="let image of item.imageBase64">
          <div class="picsum-img-wrapper">
            <img width="100%" [src]="image" alt="Random first slide">
          </div>
        </ng-template>
      </ngb-carousel>
      <p class="card-text">{{item.district}}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Attraction Category:{{" "}}{{item.attractionCategory}}</li>
      <li class="list-group-item">Province:{{" "}}{{item.province}}</li>
      <li class="list-group-item">GramaNiladhariDivision:{{" "}}{{item.gramaNiladhariDivision}}</li>
      <li class="list-group-item">District:{{" "}}{{item.district}}</li>
      <li class="list-group-item">Description:{{" "}}{{item.description}}</li>
      <li class="list-group-item">Latitude:{{" "}}{{item.latitude}}</li>
      <li class="list-group-item">Longitude:{{" "}}{{item.longitude}}</li>
      <li class="list-group-item">address:{{" "}}{{item.address}}</li>
      <li class="list-group-item">email{{" "}}{{item.email}}</li>
      <li class="list-group-item">availableTransportModes:{{" "}}{{item.availableTransportModes}}</li>
      <li class="list-group-item">openingHours:{{" "}}{{item.openingHours}}</li>



    </ul>
    <div class="card-body">
      <ngb-rating [(rate)]="currentRate"></ngb-rating>
      <button *ngIf="!rated" (click)="rate()">Rate</button>
      <hr>
      <pre>Rating: <b>{{currentRate}}</b></pre>

      <textarea (change)="review($event.target.value)"></textarea>
      <button *ngIf="!reviewed" (click)="postReview()">Review</button>

    </div>
  </div>
  <!-- <h3>{{item.attractionName}}</h3>
  <p>{{item.district}}</p> -->
</div>

<!-- <div class="picsum-img-wrapper">
    <img class="rounde card-img-topd" width="100%" [src]="item.imageBase64" alt="Random first slide">

</div> -->

<!-- <div class="row card-group">
  <div class="col4" *ngFor="let presentation of reviews">
    <div class="card text-center">
      <h3>{{presentation.timestamp}}</h3>
      <p>{{presentation.description}}</p>
    </div>
  </div>
</div> -->
<div style="padding-left: 20rem ;padding-right: 20rem;" *ngFor="let presentation of reviews">
  <div class="card" style="width: 100%;color: black;">
    <div class="card-body">
      <!-- <h3>{{presentation.timestamp}}</h3> -->
      <p>{{presentation.description}}</p>
    </div>
  </div>
</div>