<div class="container" *ngIf="dataLoaded">
  <mat-card style="margin: 15px 0">
    <div>
      <mat-grid-list cols="8">
        <mat-grid-tile colspan="1">
          <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="profPic">
          <!--<img *ngIf="user.image" [src]="'images/' + user.image" class="profPic">-->
        </mat-grid-tile>

        <mat-grid-tile colspan="6">
          <div id="profInfo">
            <h1>{{user.name}}</h1>
            <mat-divider></mat-divider>
            <p>{{user.username}}</p>
            <p>{{user.email}}</p>
          </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
          <div>
            <button mat-raised-button
                    color="primary"
                    [routerLink]="['/new-att']"
            >
              New Attraction
            </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-tab-group>
        <mat-tab label="User Info">
          <div class="row">
            <div class="col-3 type">
              Name
            </div>

            <div class="col-9 property">
              {{user.name}}
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="row">
            <div class="col-3 type">
              Username
            </div>

            <div class="col-9 property">
              {{user.username}}
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="row">
            <div class="col-3 type">
              Email
            </div>

            <div class="col-9 property">
              {{user.email}}
            </div>
          </div>

          <mat-divider *ngIf="user.telephoneNo"></mat-divider>

          <div class="row" *ngIf="user.telephoneNo">
            <div class="col-3 type">
              Telephone Number
            </div>

            <div class="col-9 property">
              +94 {{user.telephoneNo}}
            </div>
          </div>

          <mat-divider *ngIf="user.mobileNo"></mat-divider>

          <div class="row" *ngIf="user.mobileNo">
            <div class="col-3 type">
              Mobile Number
            </div>

            <div class="col-9 property">
              +94 {{user.mobileNo}}
            </div>
          </div>

          <mat-divider *ngIf="user.address"></mat-divider>

          <div class="row" *ngIf="user.address">
            <div class="col-3 type">
              Address
            </div>

            <div class="col-9 property">
              {{user.address}}
            </div>
          </div>
        </mat-tab>

        <div>
          <mat-tab label="Added attractions">
            <mat-grid-list cols="4" rowHeight="450px">
              <!--<div *ngIf="sellingItemsList.length > 0">-->
              <div>
                <!--<mat-grid-tile *ngFor="let item of this.sellingItemsList">-->
                <mat-grid-tile>
                  <mat-card style="margin: 10px; text-align: center">
                    <!--<div *ngIf="!item.image">-->
                    <div>
                      <img mat-card-image src="https://www.jainsusa.com/images/store/landscape/not-available.jpg"
                           style="padding: 5px">
                    </div>

                    <!--<div *ngIf="item.image">-->
                    <!--<div>-->
                    <!--&lt;!&ndash;<img mat-card-image [src]="'http://localhost:3000/images/' + item.image" style="padding: 5px">&ndash;&gt;-->
                    <!--<img mat-card-image [src]="'images/' + item.image" style="padding: 5px">-->
                    <!--</div>-->

                    <mat-card-header>
                      <div style="width: 100%; margin-left: -15px">
                        <mat-card-title><strong>name</strong></mat-card-title>
                        <mat-card-subtitle>category</mat-card-subtitle>
                      </div>
                    </mat-card-header>

                    <mat-divider></mat-divider>

                    <mat-card-content style="margin-top: 10px">
                      <p>Rs. price.00</p>
                    </mat-card-content>

                    <mat-card-actions>
                      <!--<button mat-button color="primary" style="width: 100%;" (click)="goToItem(item._id)">-->
                      <button mat-button color="primary" style="width: 100%;">
                        Details
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </mat-grid-tile>
              </div>

              <!--<div *ngIf="sellingItemsList.length === 0" style="width: 100%; text-align: center; margin: 50px 0;">-->
              <!--<h4>The seller has no items for sale</h4>-->
              <!--</div>-->
            </mat-grid-list>
          </mat-tab>

          <mat-tab label="Favorites">
            <mat-grid-list cols="4" rowHeight="450px">
              <!--<div *ngIf="sellingItemsList.length > 0">-->
              <div>
                <!--<mat-grid-tile *ngFor="let item of this.sellingItemsList">-->
                <mat-grid-tile>
                  <mat-card style="margin: 10px; text-align: center">
                    <!--<div *ngIf="!item.image">-->
                    <div>
                      <img mat-card-image src="https://www.jainsusa.com/images/store/landscape/not-available.jpg"
                           style="padding: 5px">
                    </div>

                    <!--<div *ngIf="item.image">-->
                    <!--<div>-->
                    <!--&lt;!&ndash;<img mat-card-image [src]="'http://localhost:3000/images/' + item.image" style="padding: 5px">&ndash;&gt;-->
                    <!--<img mat-card-image [src]="'images/' + item.image" style="padding: 5px">-->
                    <!--</div>-->

                    <mat-card-header>
                      <div style="width: 100%; margin-left: -15px">
                        <mat-card-title><strong>name</strong></mat-card-title>
                        <mat-card-subtitle>category</mat-card-subtitle>
                      </div>
                    </mat-card-header>

                    <mat-divider></mat-divider>

                    <mat-card-content style="margin-top: 10px">
                      <p>Rs. price.00</p>
                    </mat-card-content>

                    <mat-card-actions>
                      <!--<button mat-button color="primary" style="width: 100%;" (click)="goToItem(item._id)">-->
                      <button mat-button color="primary" style="width: 100%;">
                        Details
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </mat-grid-tile>
              </div>

              <!--<div *ngIf="sellingItemsList.length === 0" style="width: 100%; text-align: center; margin: 50px 0;">-->
              <!--<h4>The seller has no items for sale</h4>-->
              <!--</div>-->
            </mat-grid-list>
          </mat-tab>
        </div>
      </mat-tab-group>
    </div>
  </mat-card>
</div>
