<div class="container">
  <mat-card>
    <mat-card-title>New Attraction Details</mat-card-title>
    <mat-card-content>
      <form>
        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Attraction Name" matInput type="text" name="Asset Name" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="reg-form-field">
            <mat-select placeholder="Attraction Category" required>
              <mat-option value="Heritage">
                Heritage
              </mat-option>
              <mat-option value="Tracking Sites">
                Tracking Sites
              </mat-option>
              <mat-option value="National Park">
                National Park
              </mat-option>
              <mat-option value="Lagoons">
                Lagoons
              </mat-option>
              <mat-option value="Harbours">
                Harbours
              </mat-option>
              <mat-option value="Mountains">
                Mountains
              </mat-option>
              <mat-option value="Islands">
                Islands
              </mat-option>
              <mat-option value="Hot Springs">
                Hot Springs
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <mat-select placeholder="Province" required>
              <mat-option value="Western">
                Western
              </mat-option>
              <mat-option value="Central">
                Central
              </mat-option>
              <mat-option value="Southern">
                Southern
              </mat-option>
              <mat-option value="Northern">
                Northern
              </mat-option>
              <mat-option value="Uva">
                Uva
              </mat-option>
              <mat-option value="Sabaragamuwa">
                Sabaragamuwa
              </mat-option>
              <mat-option value="North Western">
                North Western
              </mat-option>
              <mat-option value="North Central">
                North Central
              </mat-option>
              <mat-option value="North Eastern">
                North Eastern
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <mat-select placeholder="District" required>
              <mat-option value="Jaffna">
                Jaffna
              </mat-option>
              <mat-option value="Kilinochchi">
                Kilinochchi
              </mat-option>
              <mat-option value="Mannar">
                Mannar
              </mat-option>
              <mat-option value="Mulativu">
                Mulativu
              </mat-option>
              <mat-option value="Vavuniya">
                Vavuniya
              </mat-option>
              <mat-option value="Puttlam">
                Puttlam
              </mat-option>
              <mat-option value="Kurunegala">
                Kurunegala
              </mat-option>
              <mat-option value="Gampaha">
                Gampaha
              </mat-option>
              <mat-option value="Colombo">
                Colombo
              </mat-option>
              <mat-option value="Kalutara">
                Kalutara
              </mat-option>
              <mat-option value="Anuradhapura">
                Anuradhapura
              </mat-option>
              <mat-option value="Polonnaruwa">
                Polonnaruwa
              </mat-option>
              <mat-option value="Matale">
                Matale
              </mat-option>
              <mat-option value="Kandy">
                Kandy
              </mat-option>
              <mat-option value="NuwaraEliya">
                NuwaraEliya
              </mat-option>
              <mat-option value="Kegalle">
                Kegalle
              </mat-option>
              <mat-option value="Ratnapura">
                Ratnapura
              </mat-option>
              <mat-option value="Trincomalee">
                Trincomalee
              </mat-option>
              <mat-option value="Batticaloa">
                Batticaloa
              </mat-option>
              <mat-option value="Ampara">
                Ampara
              </mat-option>
              <mat-option value="Badulla">
                Badulla
              </mat-option>
              <mat-option value="Monaragala">
                Monaragala
              </mat-option>
              <mat-option value="Hambanthota">
                Hambanthota
              </mat-option>
              <mat-option value="Matara">
                Matara
              </mat-option>
              <mat-option value="Galle">
                Galle
              </mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="GramaNiladhariDivision" matInput type="text" name="Grama Niladhari Division" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Description" matInput type="text" name="Description" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Latitude" matInput type="text" name="Latitude" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Longitude" matInput type="text" name="Longitude" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Address" matInput type="text" name="Address" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <span matPrefix>+94 &nbsp;</span>
            <input placeholder="Mobile number" matInput type="number" name="mobile" maxlength="9">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Email" matInput type="email" name="email" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Available Transport Modes" matInput type="text" name="Available Transport Modes"
                   required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Opening Hours" matInput type="text" name="Opening Hours" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="reg-form-field">
            <input placeholder="Emergency Services close by" matInput type="text" name="Emergency Services close by"
                   required>
          </mat-form-field>
        </div>

        <div style="width: 100%; height: 100%;">
          <div class="custom-file" id="customFile" lang="es" style="margin: 25px; width: 100%;">
            <input
              type="file"
              name="file"
              id="file"
              accept="image/jpeg, image/png"
              class="custom-file-input"
              style="width: 25%"
            >
            <label class="custom-file-label" for="file" style="width: 60%">
              Select File...
            </label>
          </div>
        </div>


        <div style="width: 100%">
          <button mat-raised-button color="primary" type="submit" style="width: 20%">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
