<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Category</th>
    <th scope="col">Province</th>
    <th scope="col">District</th>
    <th scope="col">Image</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let attraction of attractions; index as i">
    <td>{{ attraction.attractionName  }}</td>
    <td>{{ attraction.attractionCategory }}</td>
    <td>{{ attraction.province  }}</td>
    <td>{{ attraction.district }}</td>
    <td>
      <img [src]="attraction.imageBase64" class="mr-2" style="width: 100px">
    </td>
    <td *ngIf="!attraction.approved"><button (click)="accept(attraction._id)">Accept</button></td>
    <td *ngIf="attraction.approved"><button (click)="reject(attraction._id)">Reject</button></td>

  </tr>
  </tbody>
</table>
