.container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.reg-form-field {
  width: 90%;
}

mat-card {
  text-align: center;
  margin: 20px;
  width: 80%;
}

form {
  text-align: center
}

.custom-file-input ~ .custom-file-label::after {
  content: "Browse";
}
