<div class="home">
  <mat-grid-list cols="4" rowHeight="100%">
    <mat-grid-tile>

    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <div class="card-header">
            <mat-card-title>Please click on this button to fill up details</mat-card-title>
          </div>
        </mat-card-header>

        <mat-card-content></mat-card-content>

        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-raised-button class="card-button" color="primary" [routerLink]="['/new-att']">New Attraction
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <div class="card-header">
            <mat-card-title>Please click on this button to fill up details</mat-card-title>
          </div>
        </mat-card-header>

        <mat-card-content></mat-card-content>

        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-raised-button class="card-button" color="primary">Verified Attractions
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>
  </mat-grid-list>
</div>
